@using System.Security.Claims;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OzSapkaTShirt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" href="~/favicon2.ico"/>
    <link rel="stylesheet" href="~/OzSapkaTShirt.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <header class="fixedWrap">
            <nav class="navbar">
                <div class="logo">
                    <a class="_logo" asp-area="" asp-controller="Home" asp-action="Index">
                        <img class="_logo-img" src="~/images/logo2.png" />
                    </a>
                </div>
                <ul class="menu">
                    @*<li class="menu_page">
                        <a class="page" asp-area="admin" asp-controller="Users" asp-action="OrderRaports">Order Raports</a>
                    </li>*@
                </ul>
                <ul class="registerLogin user">
                    


                    @if (User.FindFirstValue(ClaimTypes.NameIdentifier) != null)
                    {
                        <li class="basketIcon">
                            <a asp-area="" asp-action="index" asp-controller="Orders">
                                <img class="sepet" src="~/images/sepet.png" />

                                <span class="basketAmount" id="basketCount">@HttpContextAccessor.HttpContext.Session.GetInt32("BasketCount")</span>
                            </a>
                        </li>
                        <li class="account">
                            <a asp-area="" asp-action="Details" asp-controller="Orders">Account</a>
                        </li>
                        <li class="logOut">
                            <a class="page" asp-area="" asp-controller="Users" asp-action="Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="signUp">
                            <a class="page" asp-area="" asp-controller="Users" asp-action="Create">SignUp</a>
                        </li>
                        <li class="logIn">
                            <a class="page" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
                        </li>
                    }
                </ul>
            </nav>
        </header>
    
        <div class="break"></div>
    
        <main role="main" class="main">
            @RenderBody()
        </main>

    </div>
    <img class="bgImage" src="~/images/headlg.png" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
